@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;700');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E2D8A5 !important;
    color: #363636;
}

main {
  min-height: calc(100vh - 240px);
}

.container h1, #info-geral h2, #info-especifica h3 {
    font-family: 'Playfair Display', serif;
}

.container h1 {
    padding-top: 58px;
    font-size: 36px;
    font-weight: 400;
    color:  #1F0049;
}

#info-geral h2 {
    font-size: 36px;
    padding-bottom: 12px;
    font-weight: 400;
}

footer {
    height: 120px !important;
}