@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;700&display=swap');

#rodape {
    width: 100%;
    padding-top: 45px;
    height: 75px;
    background-color: #1F0049;
    color: #ffffff;
    font-size: 1em;
}
